.Search {
  display: inline-block;
  width: 215px;
  padding: 10px 0 10px 15px;
  color: #377D6A;
  background: #efefef;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 70px;
  transition: all .3s ease-in-out;
}
.Search__container {
    width: 100%;
    display: block;
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
}

.Search::-webkit-input-placeholder {
  color: #efefef;
  text-indent: 0;
  font-weight: 300;
}

.Search__field {
  position: relative;
  display: inline-block;
  margin: 30px 10px;
}

.Search + label {
  color:#fff;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 15px;
  text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
  background: #FC354C;
  transition: all .3s ease-in-out;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.Search:focus,
.Search:active {
  color: #377D6A;
  text-indent: 0;
  background: #fff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.Search:focus::-webkit-input-placeholder,
.Search:active::-webkit-input-placeholder {
  color: #aaa;
}
.Search:focus + label,
.Search:active + label {
  transform: translateX(-100%);
}